
<table class="table table-striped">
    <thead>
        <tr style="background: dodgerblue; color: white;">
            <th>Full Name</th>
             <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr style="background: white; color: black;">
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/player/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true" style="margin: 0rem 0.4rem; background: dodgerblue; color: white; padding: 0.4rem 0.4rem;"></i></a>
                <a href="/player/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" style="margin: 0rem 0.4rem; background: dodgerblue; color: white; padding: 0.4rem 0.4rem;"
                        aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>